import(Rcpp)
import(mzR)
import(ggplot2)
import(grid)
import(reshape2)
importFrom("grDevices", "dev.copy", "dev.off", "pdf")
importFrom("stats", "dnorm", "loess", "rt")
importFrom("utils", "read.csv", "stack", "write.csv")
  
export(getEIC,
       getPeak,
       getPeakScore,
       getRI,
       getRIStandard,
       getScore,
       getTarget,
       getTargetTable,
       optFrag,
       plotEIC,
       plotTIC,
       putTargetTable,
       readCDF,
       readMSL,
       writeMSL,
       writeResult)
